* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1920px;
    margin: 0 auto;
    /* background-color: black; */
}

@font-face {
    font-family: Lato;
    src: url(./Fonts/Lato/Lato-Regular.ttf);
}

/* Header start */

.main-header {
    width: 100%;
    height: 1080px;
    background: url(../../../../Downloads/shapes.png), #FEDCD1;
    border: 0.1px solid transparent;
}

.navbar {
    width: 1230px;
    height: 52px;
    margin-top: 20px;
    margin-left: 345px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;

}

.navbar ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    font-family: Lato;
    color: #424551;
}

.parts {
    width: 432px;
    height: 26px;
}

.navbar h1 {
    font-size: 23px;
    color: #1E212C;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.navbar h1 font {
    color: #FF3F3A;
}

.nav-btn {
    width: 207px;
    height: 52px;
    border-radius: 4px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
    gap: 10px;
    font-size: 16px;
    font-family: Lato;
    color: white;
    background: linear-gradient(#FF3F3A, #F75E05);
    float: left;
}

.btn-consultation {
    width: 386px;
    height: 52px;
    margin-left: 44px;
    gap: 36px;
    /* border: 1px solid black; */
}

.nav-img {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}

.btn-consultation h2 {
    color: #424551;
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.play-video {
    width: 172px;
    height: 84px;
    margin-top: 212px;
    margin-left: 355px;
    /* border: 1px solid black; */
}

.play-video h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    color: #1E212C;
    display: flex;
    /* align-items: center; */
    justify-content: end;
    margin-top: -50px;
    margin-left: 2px;
}

.play {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: #FEC8C0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.play-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #FF3F3A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-body-left {
    width: 496px;
    height: 249px;
    margin-top: 20px;
    margin-left: 344px;

}

.header-body-left h1 {
    color: #1E212C;
    font-family: Lato;
    font-weight: 900;
    font-size: 64px;
}

.left-btn {
    width: 373px;
    height: 52px;
    margin-left: 344px;

}

.headerf-btn1 {
    width: 148px;
    height: 52px;
    border-radius: 4px;
    background: linear-gradient(#FF3F3A, #F75E05);
    color: white;
    border: none;

}

.headerf-btn1:hover {
    background: none;
    border: 1px solid #FF3F3A;
    background-color: #FEDCD1;
    color: #FF3F3A;
}

.headerf-btn2:hover {
    background: none;
    border: 1px solid #FF3F3A;
    background-color: #FEDCD1;
    color: #FF3F3A;
}

.headerf-btn2 {
    width: 201px;
    height: 52px;
    border-radius: 4px;
    /* margin-left: 40p x; */
    color: white;
    border: none;
    background: linear-gradient(#FF3F3A, #F75E05);
}

.header-body-right {
    display: flex;
    justify-content: end;
    margin-top: -500px;
    margin-right: 300px;
}

.statistics {
    width: 1231px;
    height: 60px;
    margin-top: 160px;
    margin-left: 345px;
}

.statistics-bold {
    color: #1E212C;
    font-family: Lato;
    font-size: 46px;
    font-weight: 900;
    float: left;
}

.statistics-medium {
    color: #424551;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;

}

.first1 {
    width: 257px;
    height: 100%;
    float: left;
}

.second {
    width: 201px;
    height: 100%;
    float: left;

}

.third {
    width: 177px;
    height: 100%;
    float: left;

}

.fourth {
    width: 176px;
    height: 100%;
    float: left;

}

.btn-primary {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background-color: #FF3F3A;
    float: left;
    margin: 25px 65px;
}

/* Header end */

/* First block start */

.first-block {
    width: 100%;
    height: 560px;
    margin-top: 150px;
}

.first-block img {
    width: 705px;
    height: 560px;
    margin-left: 345px;
    border-radius: 4px;
    float: left;
}

.first-block h1 {
    width: 298px;
    height: 92px;
    margin-left: 150px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #1E212C;
    float: left;
}

.first-block h1 font {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;
}

.first-block-left {
    width: 390px;
    height: 294px;
    margin-left: 150px;
    gap: 12px;
    float: left;
}

.left-block1 {
    width: 100%;
    height: 52px;
    margin-top: 45px;
}

.left-block1 img {
    width: 15px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.left-block1 h2 {
    color: #424551;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    margin-left: 30px;
    margin-top: -18px;
    float: left;
}

.left-block2 {
    width: 100%;
    height: 26px;
    margin-top: 10px;
}

.left-block2 img {
    width: 15px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.left-block2 h2 {
    color: #424551;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    margin-left: 10px;
    /* margin-top: -18px; */
    float: left;
}

.left-block3 {
    width: 100%;
    height: 52px;
    margin-top: 15px;
}

.left-block3 img {
    width: 15px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.left-block3 h2 {
    color: #424551;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    margin-left: 30px;
    margin-top: -18px;
    float: left;
}

.left-block4 {
    width: 100%;
    height: 26px;
    margin-top: 10px;
}

.left-block4 img {
    width: 15px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.left-block4 h2 {
    color: #424551;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    margin-left: 10px;
    /* margin-top: -18px; */
    float: left;
}

.left-block5 {
    width: 100%;
    height: 26px;
    margin-top: 10px;
}

.left-block5 img {
    width: 15px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.left-block5 h2 {
    color: #424551;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    margin-left: 10px;
    /* margin-top: -18px; */
    float: left;
}

.left-block6 {
    width: 100%;
    height: 52px;
    margin-top: 15px;
}

.left-block6 img {
    width: 15px;
    height: 14px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.left-block6 h2 {
    color: #424551;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    margin-left: 30px;
    margin-top: -18px;
    float: left;
}

.btn-block1 {
    width: 161px;
    height: 44px;
    border: none;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    gap: 10px;
    color: white;
    font-size: 14px;
    font-family: Lato;
    font-weight: 700;
    line-height: 44px;
    background: linear-gradient(#FF3F3A, #F75E05);
    float: left;
    margin-top: 380px;
    margin-left: -380px;
}

/* First block end */

/* Second block start */

.second-block {
    width: 1250px;
    height: 854px;
    margin-top: 200px;
    margin-left: 345px;
    /* border: 1px solid black; */
}

.card {
    width: 600px;
    height: 214px;
    border-radius: 4px;
    border: 1px solid rgb(232, 232, 232);
    float: left;
    margin-top: 25px;
    margin-left: 15px;
    transition: all 1s;
}

.card:hover {
    box-shadow: 0 0 15px #424551;
}

.card img {
    float: left;
}

.text-marketing {
    background-color: #03CEA4;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    width: 80px;
    height: 23px;
    border-radius: 4px;
    float: left;
    text-align: center;
    line-height: 23px;
    margin-left: 25px;
    margin-top: 30px;
}

.card h1 {
    width: 322px;
    height: 60px;
    font-weight: 700;
    font-family: Lato;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 25px;
    float: left;
}

.card h4 {
    color: red;
    font-weight: 700;
    font-family: Lato;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 15px;
    float: left;
}

.card h4 font {
    font-weight: 400;
    font-family: Lato;
    font-size: 18px;
    color: #787A80;
}

.text-hr {
    background-color: #F5992D;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    width: 80px;
    height: 23px;
    border-radius: 4px;
    float: left;
    text-align: center;
    line-height: 23px;
    margin-left: 25px;
    margin-top: 30px;
}

.text-management {
    background-color: #5C87F7;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    width: 98px;
    height: 23px;
    border-radius: 4px;
    float: left;
    text-align: center;
    line-height: 23px;
    margin-left: 25px;
    margin-top: 30px;
}

.text-design {
    background-color: #EA336D;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: Lato;
    width: 80px;
    height: 23px;
    border-radius: 4px;
    float: left;
    text-align: center;
    line-height: 23px;
    margin-left: 25px;
    margin-top: 30px;
}

.btn-all-courses {
    width: 203px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
    background-color: white;
    float: left;
    margin-left: 1030px;
    margin-top: -60px;
}

.second-block h5 {
    float: left;
    color: #1E212C;
    font-weight: 700;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.second-block h5 font {
    font-weight: 900;
    font-size: 46px;
    font-family: Lato;
}

/* Second block end */

/* Third block start */

.third-block {
    width: 1230px;
    height: 698px;
    margin-left: 345px;
    margin-top: 100px;
    /* border: 1px solid black; */
}

.third-block p {
    width: 403px;
    height: 92px;
    margin-left: 450px;
    gap: 8px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.third-block p font {
    font-family: Lato;
    font-weight: 900;
    font-size: 26px;
    margin-top: 50px;
}

.tabs {
    width: 1228px;
    height: 46px;
    margin-top: 45px;
}

.tab-icon1 {
    width: 307px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #FF3F3A;
    background-color: white;
    float: left;

}

.tab-inner {
    width: 307px;
    height: 46px;
    border-radius: 4px;
    border: none;
    background-color: white;
    float: left;
}

.tab-icon2 {
    width: 307px;
    height: 46px;
    border-radius: 4px;
    border: none;
    background-color: white;
    float: left;
}

.tab-icon3 {
    width: 307px;
    height: 46px;
    border-radius: 4px;
    border: none;
    background-color: white;
    float: left;
}

.tabs .tab-tutors {
    color: #FF3F3A;
}

.tabs h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: Lato;
    text-align: center;
    color: #9A9CA5;
    line-height: 46px;
    float: left;

}

.tabs img {
    float: left;
    margin-top: 15px;
    margin-left: 80px;
    margin-right: 5px;
}

.tabs button:focus {
    border: 1px solid #F75E05;
}

.third-block-text {
    width: 495px;
    height: 196px;
    gap: 24px;
    /* border: 1px solid black; */
    margin-top: 200px;
}

.third-block-text h1 {
    font-family: Lato;
    font-weight: 900;
    font-size: 32px;
    color: #1E212C;
}

.third-block-text p {
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    color: #424551;
    text-align: left;
    margin-left: 0px;
    margin-top: 15px;
}

.third-block-text img {
    margin-left: 630px;
    margin-top: -300px;
}

/* Third block end */

/* Fourth block start */

.fourth-block {
    width: 100%;
    height: 850px;
    border: 0.1px solid transparent;
    background-color: #FEDBD2;

}

.fourth-block h3 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1E212C;
    text-align: center;
    margin-top: 100px;
}

.fourth-block h3 font {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;
}

.fourth-block-events {
    width: 1230px;
    height: 426px;
    margin-left: 312px;
    margin-top: 100px;
}

.first-event {
    width: 1230px;
    height: 126px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid transparent;
    transition: all 0.5s;

}

.second-event {
    width: 1230px;
    height: 126px;
    border-radius: 4px;
    background-color: white;
    margin-top: 25px;
    transition: all 0.5s;

}

.third-event {
    width: 1230px;
    height: 126px;
    border-radius: 4px;
    background-color: white;
    margin-top: 25px;
    transition: all 0.5s;

}

.first-event h1 {
    font-weight: 900;
    font-size: 48px;
    font-family: Lato;
    letter-spacing: 1px;
    color: #FF3F3A;
    line-height: 126px;
    margin-left: 40px;
    float: left;
}

.first-event h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    margin-top: 40px;
    margin-left: 15px;
    float: left;
}

.first-event h2 font {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

.first-event h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    float: left;
    margin-top: 40px;
    margin-left: 35px;
    text-align: left;
}

.first-event h3 font {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

.first-event button {
    color: #FF3F3A;
    width: 136px;
    height: 44px;
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #FF3F3A;
    float: left;
}

.second-event h1 {
    font-weight: 900;
    font-size: 48px;
    font-family: Lato;
    letter-spacing: 1px;
    color: #FF3F3A;
    line-height: 126px;
    margin-left: 40px;
    float: left;
}

.second-event h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    margin-top: 40px;
    margin-left: 15px;
    float: left;
}

.second-event h2 font {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

.second-event h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    float: left;
    margin-top: 40px;
    margin-left: 35px;
    text-align: left;
}

.second-event h3 font {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

.second-event button {
    color: #FF3F3A;
    width: 136px;
    height: 44px;
    margin-left: 285px;
    margin-top: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #FF3F3A;
    float: left;
}

.third-event h1 {
    font-weight: 900;
    font-size: 48px;
    font-family: Lato;
    letter-spacing: 1px;
    color: #FF3F3A;
    line-height: 126px;
    margin-left: 40px;
    float: left;
}

.third-event h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    margin-top: 40px;
    margin-left: 15px;
    float: left;
}

.third-event h2 font {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

.third-event h3 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    float: left;
    margin-top: 40px;
    margin-left: 35px;
    text-align: left;
}

.third-event h3 font {
    color: #787A80;
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
}

.third-event button {
    color: #FF3F3A;
    width: 136px;
    height: 44px;
    margin-left: 15px;
    margin-top: 40px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #FF3F3A;
    float: left;
}

.first-event:hover {
    box-shadow: 0 0 10px #FF3F3A;
    transform: scale(105%);
}

.second-event:hover {
    box-shadow: 0 0 10px #FF3F3A;
    transform: scale(105%);
}

.third-event:hover {
    box-shadow: 0 0 10px #FF3F3A;
    transform: scale(105%);
}

.first-event:hover button {
    background-color: #FF3F3A;
    color: white;
}

.second-event:hover button {
    background-color: #FF3F3A;
    color: white;
}

.third-event:hover button {
    background-color: #FF3F3A;
    color: white;
}

.view-all {
    width: 496px;
    height: 52px;
    gap: 40px;
    margin-left: 712px;
    margin-top: 45px;

}

.view-all h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 28px;
    color: #1E212C;
    text-align: left;
    float: left;

}

.view-all button {
    width: 215px;
    height: 52px;
    color: white;
    border: none;
    border-radius: 4px;
    gap: 10px;
    margin-left: 35px;
    background: linear-gradient(#FF3F3A, #F75E05);
    float: left;

}

/* Fourth block end */

/* Fifth block start */

.fifth-block {
    width: 100%;
    height: 450px;
    background-color: white;
    position: relative;
}

.certificate {
    width: 1232px;
    height: 500px;
    margin-left: 343px;
    margin-top: 100px;

}

.certificate-left {
    width: 397px;
    height: 334px;
    float: left;
}

.certificate-left h4 {
    color: #1E212C;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.certificate-left h1 {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    margin-top: 15px;
    color: #1E212C;
}

.certificate-left p {
    font-size: 16px;
    font-weight: 400;
    font-family: Lato;
    margin-top: 40px;
    color: #424551;
}

.certificate-logos {
    width: 395px;
    height: 50px;
    margin-top: 40px;
    gap: 40px;
}

.certificate-logos img {
    margin-right: 23px;
}

.certificate-right {
    position: absolute;
    top: 0px;
    left: 870px;
    /* float: left; */

}

/* Fifth block end */

/* Sixth block start */

.sixth-block {
    width: 100%;
    height: 1570px;
    background-color: #F4F5F6;
    border: 0.1px solid transparent;
}

.team-carousel {
    width: 1252px;
    height: 568px;
    margin-left: 345px;
    margin-top: 200px;
    /* border: 1px solid black; */
    background-color: transparent;
}

.team-carousel h6 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1E212C;
    text-transform: uppercase;
}

.team-carousel h2 {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    margin-top: 20px;
    color: #1E212C;
}

.team-carousel button {
    float: right;
    border: none;
    width: 48px;
    height: 48px;
    font-size: 24px;
    margin-top: -45px;
    margin-right: 20px;
    background-color: transparent;
}

.team-carousel button:hover {
    border-radius: 50%;
    background-color: #FF3F3A;
    color: white;
}

.team-card {
    width: 285px;
    height: 416px;
    background-color: transparent;
    margin-right: 27px;
    margin-top: 50px;
    transition: all 0.5s;
    float: left;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.team-card-ex::after {
    content: "";
    width: 285px;
    height: 0%;
    background: linear-gradient(to top, rgba(30, 33, 44, 0), rgba(30, 33, 44, 0.03), rgba(30, 33, 44, 0.33), rgba(30, 33, 44, 0.56), rgba(30, 33, 44, 0.77), rgba(30, 33, 44, 0.92), rgba(30, 33, 44, 1));
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.team-card:hover::after{
    height: 40%;
}

.team-card img {
    width: 285px;
    height: 340px;
    border-radius: 4px;
}

.team-card h1 {
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
    color: #424551;
    margin-top: 10px;
    text-align: center;
}

.team-card h3 {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #787A80;
    margin-top: 10px;
    text-align: center;
}

.testimonials-carousel {
    width: 1242px;
    height: 556px;
    margin-top: 150px;
    margin-left: 345px;
    position: relative;
}

.testimonials-carousel h6 {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.testimonials-carousel h1 {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    text-align: center;
    margin-top: 10px;
}

.testimonials-carousel button {
    float: right;
    border: none;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: transparent;
}

.right-arrow {
    position: absolute;
    top: 280px;
    left: 1180px;

}

.right-arrow:hover {
    width: 48px;
    height: 48px;
    color: white;
    line-height: 48px;
    border-radius: 50%;
    background-color: #FF3F3A;
}

.left-arrow {
    position: absolute;
    top: 280px;
    right: 1180px;

}

.left-arrow:hover {
    width: 48px;
    height: 48px;
    color: white;
    line-height: 48px;
    border-radius: 50%;
    background-color: #FF3F3A;
}

.txt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    margin: 64PX 80px 0 80px;
}

.txt:hover {
    transform: translateX(0.03);
    color: green;
}

.incontain {
    width: 1020px;
    height: 344px;
    margin-top: 50px;
    margin-left: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 20px;
}

.divtext1 {
    display: flex;
    gap: 11px;
    margin-left: -555px;
}

.divtext {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 15px;
}

.pc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #787A80;
}

.pic {
    width: 72px;
    height: 72px;
    border-radius: 50px;
}

.pic:hover {
    transform: scale(1.1);
}

.twobrace {
    width: 28px;
    height: 20px;
    margin-left: -120px;
    margin-top: -180px;
    margin-left: -130px;
}

.twobrace:hover {
    transform: scale(1.1);
}


.dasheds {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dashds {
    width: 30px;
    height: 5px;
    background-color: #B3B7BC;
    border-radius: 1px;
    /* optional: yumaloq burchaklar */
    transition: 0.3s ease;
    /* smooth effect */
}

.dashds:hover {
    background-color: #424551;
    /* to'g'ri */
}


/* Sixth block end */

/* Seventh block start */

.seventh-block {
    width: 100%;
    height: 800px;
    background-color: white;
}

.comments {
    width: 1232px;
    height: 659px;
    margin-left: 343px;
    margin-top: 130px;
}

.comments h5 {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #1E212C;
    text-transform: uppercase;
    float: left;
}

.comments h1 {
    font-family: Lato;
    font-weight: 900;
    font-size: 46px;
    color: #1E212C;
    margin-top: 40px;
    margin-left: -90px;
    float: left;
}

.comments button {
    width: 158px;
    height: 52px;
    gap: 10px;
    color: white;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 1070px;
    margin-top: -50px;
    border-radius: 4px;
    font-weight: 700;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 52px;
    background: linear-gradient(#FF3F3A, #F75E05);
    float: left;
}

.comments-podcast {
    width: 390px;
    height: 507px;
    margin-top: 70px;
    margin-right: 20px;
    position: relative;
    float: left;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
}

.meta {
    margin-top: 10px
}

.comments-podcast h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: #1E212C;
    margin-top: 10px;
}

.comments-podcast p {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color: #424551;
    margin-top: 10px;
}


.comments-podcast h3 {
    margin-top: 20px;
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #1E212C;
}

.podcast-arrow {
    color: #FF3F3A;
    font-size: 18px;
    margin-left: 7px;
}

/* Seventh block end */

/* Footer start */

.footer {
  background-color: #1E212C;
  color: white;
  padding: 80px 100px 40px 100px;
  font-family: "Lato", sans-serif;
}

.footer .Parents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.ftr1 {
  max-width: 320px;

}

.Cr2 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.Xx {
  width: 20px;
  height: 18px;
margin-top: -10px;
}

.textf {
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.Icons-footer {
  display: flex;
  gap: 15px;
}

.Icons-footer img {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}

.Icons-footer img:hover {
  transform: scale(1.1);
}

.ftr2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 150px;
}

.upa {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-decoration: none;
}

.lowa {
  font-size: 14px;
  color: #9A9CA5;
  text-decoration: none;
  transition: 0.2s;
}

.lowa:hover {
  color: #FFFFFF;
}

.contact-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.phone,
.email {
  width: 14px;
  height: auto;
}

.emailbox {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: var(--secondary-color);
}
.linestroke {
  width: 100%;
  height: auto;
  margin: 55px 270px 0;
  color: #FFFFFF;
}

.fbotomtext {
  font-size: 12px;
  color: #9A9CA5;
  line-height: 1.4;
}

/* Bottom Bar */
.footer-bottom {
  border-top: 1px solid #3D3F44;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  font-size: 12px;
  color: #9A9CA5;
  margin-top: 40px;
  height: 100px;
  margin-bottom: -40px;
  margin-left: -100px;
  margin-right: -100px;
}

.footer-bottom img {
  width: 12px;
  margin: 0 5px;
  vertical-align: middle;
}

.fbotomtext2 {
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
}
.linestroke{
  width: 20px;
  height: 5px;
  position: absolute;
  top: 20pxpx;
  color: #5A87FC;
}

.fbotomtext2:hover {
  color: #FF3F3A;
}
